body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #eeeeee;
}

input {
    width: 410px;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #cfcfcf;
}

tr:hover {
    background-color: #fcfcfc;
}

.loaders button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
}

.chart-container {
    display: flex;
    flex-direction: column;
    /* Stack the charts vertically */
    gap: 20px;
    /* Add some space between the charts */
    align-items: center;
    /* Center the charts horizontally */
}

.chart-box {
    width: 90%;
    /* Make the charts wide */
    height: 600px;
    position: relative;
}

.artist-chart-box {
    width: 90%;
    position: relative;
}

.charter-chart-box {
    width: 90%;
    /* Make the charts tall */
    height: 600px;
    position: relative;
}

a.nav-link:link {
    color: #ff0000;
    text-decoration: none;
}

a.nav-link:visited {
    color: #ff0000;
    text-decoration: none;
}

a.nav-link:hover {
    color: #ff0000;
    text-decoration: none;
}

a.nav-link:active {
    color: #ff0000;
    text-decoration: none;
}